*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma,sans-serif;
}

body{
    background: $primary-color;
    color: $secondary-color;
}

.container{
    padding: 0.9em 3%;
}

.header{
    @include grid(3);
    padding: 0.5em;
    align-items: center;

    .search{
        input{
            padding: 0.5em 0.9em;
            position: relative;
            border-radius: 8px 0 0 8px;
        }

        span{
            position: absolute;
            background: $secondary-color;
            padding: 0.45em 0.9em;
            color: $primary-color;
            border-radius: 0 12px 12px 0;
        }
    }

    .btn{
        @include flex_center;

        button{
            padding: 0.6em 1.5em;
            background: $secondary-color;
            border-radius: 8px;
            border: none;
            
            a{
                @include anchor;
                color: $primary-color;
            }
        }
    }
}

.text_success{
    color: $success-color;
    font-weight: 550;
}

.text_danger{
    color: $danger-color;
    font-weight: 550;
}

.school{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    max-width: 600px; 
    font-family: Arial, sans-serif;

    button{
        padding: 0.5em 1.5em;
        background-color: $secondary-color;
        border: none;
        border-radius: 12px;
        margin: 0.9em ;
        
        a{
            @include anchor;
            color: $primary-color;
        }
    }

    p{
        color: $danger-color;
    }
}

.lastseen_details{
    // *{border:1px solid green}
    @include grid(2);
    padding: 0.2em 0;
    font-size: 1.1em;
}
