*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma,sans-serif;
}

body{
    background: $primary-color;
    color: $secondary-color;
}

.container{
    padding: 0.9em 3%;
}

.header{
    // *{border: 1px solid green};
    @include grid(3);
    padding: 0.5em;
    align-items: center;

    .search{
        input{
            padding: 0.5em 0.9em;
            position: relative;
            border-radius: 8px 0 0 8px;
        }

        span{
            position: absolute;
            background: $secondary-color;
            padding: 0.45em 0.9em;
            color: $primary-color;
            border-radius: 0 12px 12px 0;
        }
    }

    .btn{
        @include flex_center;

        button{
            padding: 0.6em 1.5em;
            background: $secondary-color;
            border-radius: 8px;
            border: none;
            
            a{
                @include anchor;
                color: $primary-color;
            }
        }
    }
}

.text_success{
    color: $success-color;
    font-weight: 550;
}

.text_danger{
    color: $danger-color;
    font-weight: 550;
}
