$aside_width:15%;
$collapsed_width: 60px;

.aside_container{
    height: 100vh;
    background: $secondary-color;
    color: $primary-color;
    width: $aside_width;
    top: 0;
    left: 0;
    position: sticky;
    padding: 0.3em;
    transition: width 0.3s ease;

    &.collapsed {
        width: $collapsed_width;

        
        .aside_link .label {
            display: none;  
        }

        .aside_profile {
            display: flex;
            flex-direction: column;
            align-items: center;

            .profile_details {
                display: none;  
            }

            form {
                button {
                    padding: 0.3em 1em;
                }
            }

            img {
                width: 35px; 
                height: 35px;
            }
        }
    }

    .aside_logo{
        padding-bottom: 0.3em;

        a{
            @include anchor;
            color: $primary-color;
            @include flex_center;
            gap: 0.5em;
            justify-content: left;

            img{
                border-radius: 50%;
            }
        }
    }

    .toggle {
        position: absolute;
        left: 92%;
        top: 10px;
        background-color: #5f5f5f;
        color: $primary-color;
        font-size: 1.5em;
        padding: 5px;
        cursor: pointer;
        z-index: 1;
        transition: left 0.3s ease;

        &.collapsed {
            left: 60px;
        } 
    }

    .aside_link{
        padding: 0 0.3em;

        ul{
            list-style: none;

            li{
                padding: 0.3em;
                @include flex_center;
                justify-content: left;
                gap: 0.5em; 

                a{
                    @include anchor;
                    color: $primary-color;
                }

                &.active{
                    background: $primary-color;
                    color: $secondary-color;
                    border-radius: 4px;
                    padding: 0.2em;

                    a{
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .aside_profile{
        position: fixed;
        bottom: 3%;
        left:center;
        @include flex_center;
        flex-direction: column;

        .img{
            img{
                width:45px ;
                height: 45px;
                border-radius: 50%;
                border: 1px solid $primary-color;
            }
        }
        .profile_details{
            a{
                @include anchor;
                color: $primary-color;
                font-size: 1.1em;
            }
        }

        form{
            button{
                background-color: $danger-color;
                padding: 0.3em 2em;
            }
        }
    }
}