form{
    input,
    textarea,
    select{
        width: 100%;
        padding: 0.4em 0.5em;
        font-size: 1.1em;
        border-radius: 4px;
        border: 1px solid grey;
        margin: 0.5em 0 0;
    }

    button{
        padding: 6px 18px;
        margin: 0.9em 0 0;
        border: none;
        font-size: 1.1em;
        border-radius: 8px;
        background: $secondary-color;
        color: $primary-color;
        cursor: pointer;
    }

}

.custom_form{
    padding: 0.5em;
    border-radius: 12px;

    h1{
        text-align: center;
        font-size: 1.1em;
        padding: 0.5em 0;
        margin: 0 0 0.3em;
    }

    form{
        .input_group{
            padding: 0.3em 0;
            width: 100%;
            margin: 0 0 0.3em;

            label{
                font-weight: 500;
                font-size: 0.95em;
            }

            span{
                font-size: 1.1em;
                font-weight: 550;
            }

            .custom_radio_buttons {
                display: flex;

                label {
                    padding: 0.3em 0.2em;
                    position: relative;
                    cursor: pointer;
                    width: 30%;
                    display: flex;
                    align-items: center;

                    .option_radio {
                        position: relative;
                        margin: 0 0.2em 0 0;
                        cursor: pointer;
                        appearance: none;
                        width: auto;
                        border: unset;
                    }

                    .option_radio:before {
                        -webkit-transition: -webkit-transform 0.4s
                            cubic-bezier(0.45, 1.8, 0.5, 0.75);
                        -moz-transition: -moz-transform 0.4s
                            cubic-bezier(0.45, 1.8, 0.5, 0.75);
                        transition: transform 0.4s
                            cubic-bezier(0.45, 1.8, 0.5, 0.75);
                        -webkit-transform: scale(0, 0);
                        -moz-transform: scale(0, 0);
                        -ms-transform: scale(0, 0);
                        -o-transform: scale(0, 0);
                        transform: scale(0, 0);
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0.125rem;
                        z-index: 1;
                        width: 0.75rem;
                        height: 0.75rem;
                        background: #16a085;
                        border-radius: 50%;
                    }

                    .option_radio:checked:before {
                        -webkit-transform: scale(1, 1);
                        -moz-transform: scale(1, 1);
                        -ms-transform: scale(1, 1);
                        -o-transform: scale(1, 1);
                        transform: scale(1, 1);
                    }

                    .option_radio:after {
                        content: "";
                        position: absolute;
                        top: -0.25rem;
                        left: -0.125rem;
                        width: 1rem;
                        height: 1rem;
                        background: #fff;
                        border: 2px solid #d6d6d6;
                        border-radius: 50%;
                    }
                }
            }
        }

        .group{
            @include grid(2);
        }

        .groups{
            @include grid(3);
        }

        .checkbox{
            @include flex-center;
            flex-direction: column;
        }
    }

    p {
        margin: 0.8em 0 0.5em;
    }
}