.student_container{
    padding: 0.9em 0;
    
    h3{
        text-decoration: underline;
    }

    .image_profile{
        @include flex_center;
        flex-direction: column;
        align-items: left;
        justify-self: start;
        text-decoration: underline;

        h3{
            padding: 0.4em 0;
        }

        img{
            width: 100px;
            height: 100px;
            border: 2px solid $secondary-color;
            border-radius: 8px;
        }
    }

    .student_data{
        @include grid(2);
        font-size: 1.2em;

        .student_infor{
            p{
                @include flex_center;
                justify-content: left;
                gap: 0.5em;
                padding: 0.3em 0;

                span{
                    font-weight: bold;
                }
            }
        }
    }

    .btn{
        padding: 0.3em 0.9em;
        @include flex_center;
        justify-content: right;


        button{
            padding: 0.3em 1.5em;
            border: none;
            border-radius: 8px;
            background-color: $secondary-color;

            a{
                @include anchor;
                color: $primary-color;
                font-weight: 550;
            }
        }
    }

    .teachers_infor{
        padding: 0.5em;
        font-size: 1.1em;
        display: flex;
        gap: 1.1em;
        
        img{
            width: 80px;
            height: 80px;
            border-radius: 8px;
        }

        ul{
            list-style: none;

            li{
                padding: 0.2em 0;

                span{
                    padding: 0 0.5em;
                    font-weight: bold;
                }
            }
        }
    }
}